<% if @item.errors.any? %>
   <div class="text-red-500 text-center">
    <p><%= pluralize(@item.errors.count, "error") %> found:</p>

    <ul class="text-bold">
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
<% end %>
<div class="flex h-16 bg-blue-500 justify-between text-white sticky top-0 pl-5 m-0">
  <div class="">
      <%= link_to category_path(params[:category_id]) do %>
        <i class="fa-solid fa-backward mt-3"></i>
      <% end %>
    </div>
    <h1 class="py-5">ADD NEW EXPENSE</h1>
    <div></div>
  </div>
  <div class="flex flex-col justify-center p-5 mx-0 w-5/6">
    <%= form_with(model: @item, url: category_items_path(@category), local: true) do |form|  %>
      <div class="flex flex-col gap-5">
        <%= form.text_field :name, placeholder: 'Expense Name' %>

        <%= form.text_field :amount, placeholder: 'Expense Amount' %>
      </div>
      <div class="form-group">
        <label>Select Categories:</label>
        <% @all_categories.each do |category| %>
          <label>
            <%= check_box_tag "item[category_ids][]", category.id %>
            <%= category.name %>
          </label>
        <% end %>
      </div>
      <%= form.submit "Add expense", class:"rounded border-2 border-slate-400 bg-white p-2 mt-4" %>
    <% end %>
  </div>
</div>
